/*общие стили для всех разделов*/
/*стили для header*/
.header {
    background-color: #B19FCC;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 30px;
}

.navbar {
    display: flex;
    float: right;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-links li a:hover {
    background-color: #555;
}

.button_login{
    list-style-type: none;
    background-color: #ffffff;
    text-align: center;
    width: 60px;
    height: 20px;
    margin: auto 0 0 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}
/*конец стилей для header*/

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding-top: 90px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    z-index: 10;
}

.img {
    width: 1315;
    height: 1315;
    top: -17px;
    left: 1112px;
    position: relative;
    z-index: -1;
}
/*конец стилей для всех разделов*/


/*стили для раздела "Homepage"*/
.homepage {
    margin-top: 30px;
    text-align: center;
}

.homepage p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    max-width: 1440px;
    text-align: justify;
    margin: 26.8px 228.667px;
}
/*конец стилей для раздела "Homepage"*/


/*стили для раздела "About"*/
.about {
    margin: 30px auto 30px;
    text-align: center;
}

.about_body {
    margin: 30px 228.667px;
    text-align: justify;
}

.about_body h3{
    text-align: center;
    font-size: x-large;
    margin: 30px auto;
}

.about_body p1{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}

.list {
    font-size: 20px;
}

.about p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    max-width: 1440px;
    text-align: justify;
    margin: 26.8px 228.667px;
}
/*конец стилей для раздела "About"*/


/*стили для раздела "Articles"*/
.articles {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(320px, 360px));
    gap: 20px;
    max-width: 800px;
    margin: 30px auto 30px;
}

.article__item {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5 px rgba(0,0,0,0.1);
}

.article__item h2 {
    margin-top: 0;
}

.button-create_article{
    background-color: #B19FCC;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: auto ;
    border-radius: 20px;
}

.button-create_article a{
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 20px;
}


/*конец стилей для раздела "Articles"*/


/*стили для статей*/
.main h1 {
    margin-top: 50px;
}

.article-detail {
    text-align: center;
}

.article-detail h1 {
    font-family: Arial, sans-serif;
    font-size: 40px;
}

.article-detail p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    max-width: 1440px;
    text-align: justify;
    margin: 26.8px 228.667px;
}
/*конец стилей для статей*/


/*стили для страницы LOGIN*/
.form_login h1{
    margin-bottom: 50px;
}

.main_login {
    text-align: center;
}

.button-login {
    background-color: #B19FCC;
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 20px 0 0 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}

.button_create {
    text-align: center;
    margin: 0 0 0 10px;
    text-decoration: none;
    color: #B19FCC;
}
/*конец стилей для страницы LOGIN*/

/*стили для страницы SIGNUP*/
.form_signup h1{
    margin-bottom: 50px;
}

.main_signup {
    text-align: center;
    list-style-type: none;
}

.button_signup {
    background-color: #B19FCC;
    text-align: center;
    width: 200px;
    height: 40px;
    margin: 20px 0 0 20px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}
/*конец стилей для страницы SIGNUP*/

/*стили для Create article*/
.form {
    text-align: center;
}

.create_article{
    background-color: #B19FCC;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: 20px auto ;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}
/*конец стилей для Create article*/