{% extends "base_layout.html" %}
{% block title %}Article list{% endblock title %}
{% block content %}
    <main>
        <div class="main">
            <h1>Article list</h1>
        </div>
        <div class="articles">
            {% for element in articles %}
                <div class="article__item">
                    <h2>
                        <a href="{% url 'articles:article_detail' slug=element.slug %}">
                            {{ element.title }}
                        </a>
                    </h2>
                    <p>
                        {{ element.snippet }}
                    </p>
                    <time>
                        {{ element.date }}
                    </time>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="button-create_article">
            <a href="{% url 'articles:create' %}">Create article</a>
        </div>
        {% endif %}
    </main>
{% endblock content %}